App/AppSiges/TerminalSiges/TerminalSiges.Android/obj/
App/AppSiges/TerminalSiges/TerminalSiges.Android/bin/
App/AppSiges/TerminalSiges/TerminalSiges.iOS/bin/
App/AppSiges/TerminalSiges/TerminalSiges.iOS/obj/
WebService/Service/packages/
WebService/Service/ITBCP.ServiceSIGES.Services.Interfaces/bin/
WebService/Service/ITBCP.ServiceSIGES.Services.Interfaces/obj/
WebService/Service/ITBCP.ServiceSIGES.Services.HRest/obj/
WebService/Service/ITBCP.ServiceSIGES.Services.Services/bin/
WebService/Service/ITBCP.ServiceSIGES.Services.Services/obj/
WebService/Service/ITBCP.ServiceSIGES.Services.HRest/bin/
WebService/Service/ITBCP.ServiceSIGES.Services.Host/obj/
WebService/Service/ITBCP.ServiceSIGES.Services.Host/bin/
WebService/Service/ITBCP.ServiceSIGES.Infraestructure.IoC/bin/
WebService/Service/ITBCP.ServiceSIGES.Presentation.AgentServices/obj/
WebService/Service/ITBCP.ServiceSIGES.Infraestructure.IoC/obj/
WebService/Service/ITBCP.ServiceSIGES.Infraestructure.DataAcces/obj/
WebService/Service/ITBCP.ServiceSIGES.Infraestructure.DataAcces/bin/
WebService/Service/ITBCP.ServiceSIGES.Domain.Entities/obj/
WebService/Service/ITBCP.ServiceSIGES.Domain.Entities/bin/
WebService/Service/ITBCP.ServiceSIGES.Aplication/bin/
WebService/Service/ITBCP.ServiceSIGES.Aplication.Test/bin/
WebService/Service/ITBCP.ServiceSIGES.Aplication.Test/obj/
WebService/Service/ITBCP.ServiceSIGES.Aplication.Interfaces/obj/
WebService/Service/ITBCP.ServiceSIGES.Aplication.Interfaces/bin/
App/TerminalSiges/TerminalSiges.Android/obj/
App/TerminalSiges/TerminalSiges.iOS/obj/
WebService/Service/ITBCP.ServiceSIGES.Domain/bin/
WebService/Service/ITBCP.ServiceSIGES.Domain/obj/
WebService/Service/ITBCP.ServiceSIGES.Aplication/obj/
WebService/Service/ITBCP.ServiceSIGES.Presentation.AgentServices/bin/
WebService/Service/ITBCP.ServiceSIGES.Services.Host/Properties/PublishProfiles/
