USE [BACKOFFICE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITBCP_OBTENER_CAMBIO_TURNO_PEC]    Script Date: 21/06/2019 15:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ITBCP_OBTENER_CAMBIO_TURNO_PEC]
@PASO VARCHAR(2)
AS
DECLARE @TIPOCONTROL VARCHAR(20),@ACTIVASAWA VARCHAR

BEGIN TRANSACTION PROCESO_CAMBIO_TURNO
	
	SELECT @TIPOCONTROL = TIPOCONTROL,@ACTIVASAWA = ACTIVASAWA FROM PARAMETRO
	 

	IF @TIPOCONTROL ='PEC' AND @ACTIVASAWA = 0
	BEGIN

		IF @PASO = 'P1'
			BEGIN
				UPDATE PARAMETRO SET BLOQVENTAPLAYA = 1
			END
	    IF @PASO = 'P2'
			BEGIN
				UPDATE PARAMETRO SET BLOQVENTAPLAYA = 0
				UPDATE TERMINAL SET TURNO = TURNO + 1

			END
		IF @PASO = 'P3'
			BEGIN
				UPDATE PARAMETRO SET BLOQVENTAPLAYA = 0
			END
	END
	IF @@ERROR <> 0 
		BEGIN
			ROLLBACK TRANSACTION PROCESO_CAMBIO_TURNO
			SELECT 'FAIL' AS OK

		END
	ELSE
		BEGIN
			COMMIT TRANSACTION PROCESO_CAMBIO_TURNO
			SELECT 'OK' AS OK

		END