<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- email -->
    <add key="SMTP_SERVER" value="correo.gmail.com" />
    <add key="SMTP_PORT" value="25" />
    <add key="EmailBCC" value="tchambillaq@gmail.com" />
    <add key="CorreoSoporte" value="tchambillaq@gmail.com" />
      <add key="RutaLog" value="c:\log_error\" />
    <add key="stringWSSaldo" value="http://192.168.1.191:80/Ws_Tienda/Service.asmx" />
    <!-- Libro de reclamaciones -->

    <add key="JWT_SECRET_KEY" value="clave-secreta-api" />
    <add key="JWT_AUDIENCE_TOKEN" value="http://192.168.1.42:8080" />
    <add key="JWT_ISSUER_TOKEN" value="http://192.168.1.42:8080" />
    <add key="JWT_EXPIRE_MINUTES" value="30" />
    <add key="JWT_VALIDATE_TOKEN" value="0" />
    <add key="SUNAT_WS" value="https://www.itbcpwebservices.com" />
    <add key="SUNAT_WS_CP" value="/sunat/request" />
  </appSettings>
  
  

  <connectionStrings>
    <!-- Desarrollo Local
    
    <add name="ConnectionSetup" connectionString="Server=192.168.1.190\CENTRALSQL; Database=BACKOFFICESETUP; User Id=itbcp; password=20522513386" providerName="System.Data.SqlClient" />
    <add name="ConnectionBackOffice" connectionString="Server=192.168.1.190\CENTRALSQL; Database=backoffice; User Id=itbcp; password=20522513386" providerName="System.Data.SqlClient" />
-->
    <!-- Desarrollo Remoto-->
    <add name="ConnectionSetup" connectionString="Server=JAMM; Database=BACKOFFICESETUP; User Id=itbcp; password=20522513386" providerName="System.Data.SqlClient" />
    <add name="ConnectionBackOffice" connectionString="Server=JAMM; Database=BACKOFFICE; User Id=itbcp; password=20522513386" providerName="System.Data.SqlClient" />

    <!-- Produccion -->
     </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
