USE [BACKOFFICE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITBCP_OBTENER_CAMBIO_TURNO_SYSCON]    Script Date: 21/06/2019 15:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ITBCP_OBTENER_CAMBIO_TURNO_SYSCON]
@PASO VARCHAR(2),@FECHARESPALDO NVARCHAR(MAX),@HORARESPALDO NVARCHAR(MAX)
AS
DECLARE 
	@TIPOCONTROL VARCHAR(20),
	@ACTIVASAWA VARCHAR,
	@ESTADO VARCHAR(10)

BEGIN TRANSACTION PROCESO_CAMBIO_TURNO
	
	SELECT @TIPOCONTROL = TIPOCONTROL,@ACTIVASAWA = ACTIVASAWA FROM PARAMETRO
	 
	IF @TIPOCONTROL ='SYSCON' AND @ACTIVASAWA = 1
	
		BEGIN
		
			IF @PASO = 'P1'
				BEGIN
					SELECT @FECHARESPALDO = FECHA, @HORARESPALDO = HORA FROM CIERRE_PAMPC
					UPDATE PARAMETRO SET BLOQVENTAPLAYA=1
					UPDATE CIERRE_PAMPC SET TIPO='T', FECHA=FORMAT(GETDATE(),'yyyyMMdd'), HORA=FORMAT(GETDATE(),'hh:mm:ss'), ESTADO='1'
				END
			IF @PASO = 'P2'
				BEGIN
					IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OP_TRAN_HIS]'))
						BEGIN
							EXEC [SP_ITBCP_CREAR_TABLA_OP_TRAN_HIS]
						END

					INSERT INTO OP_TRAN_HIS ([C_INTERNO],[CONTROLADOR],[NUMERO],[SOLES],[PRODUCTO],[PRECIO],
											 [GALONES],[CARA],[FECHA],[HORA],[TURNO],[ESTADO],[DOCUMENTO],
											 [DATEPROCE],[CDTIPODOC],[MANGUERA],[FECSISTEMA]) 
									  SELECT [C_INTERNO],[CONTROLADOR],[NUMERO],[SOLES],[PRODUCTO],[PRECIO],
											 [GALONES],[CARA],[FECHA],[HORA],[TURNO],[ESTADO],[DOCUMENTO],
											 [DATEPROCE],[CDTIPODOC],[MANGUERA],[FECSISTEMA] 
											 FROM OP_TRAN 
											 WHERE NUMERO NOT IN (SELECT NUMERO FROM OP_TRAN_HIS) AND DOCUMENTO IS NOT NULL

					UPDATE TERMINAL SET TURNO = TURNO+1

					UPDATE PARAMETRO SET BLOQVENTAPLAYA = 0

					DELETE FROM OP_TRAN WHERE DOCUMENTO IS NOT NULL

				END
			IF @PASO = 'P3'
				BEGIN
					UPDATE PARAMETRO SET BLOQVENTAPLAYA=0
					UPDATE CIERRE_PAMPC SET TIPO='T', FECHA=@FECHARESPALDO, HORA=@HORARESPALDO, ESTADO='0'
				END
		    IF @PASO = 'P4'
				BEGIN
					SELECT @ESTADO = (CASE WHEN ESTADO = '1' THEN 'FAIL' ELSE 'OK' END) FROM CIERRE_PAMPC
				END
		END

	IF @@ERROR <> 0 
		BEGIN
			ROLLBACK TRANSACTION PROCESO_CAMBIO_TURNO
			SELECT 'FAIL' AS OK
		END
	ELSE
		BEGIN
			COMMIT TRANSACTION PROCESO_CAMBIO_TURNO
			SELECT 'OK' AS OK,@ESTADO as RESPUESTA,@FECHARESPALDO as FECHA,@HORARESPALDO AS HORA
		END