USE [BACKOFFICE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITBCP_CREAR_TABLA_OP_TRAN_HIS]    Script Date: 21/06/2019 15:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ITBCP_CREAR_TABLA_OP_TRAN_HIS]
	@nombreTabla VARCHAR(50)
AS
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OP_TRAN_HIS]'))
BEGIN
	CREATE TABLE [dbo].[OP_TRAN_HIS](
			[C_INTERNO] [bigint] NOT NULL,
			[CONTROLADOR] [char](2) NOT NULL,
			[NUMERO] [char](20) NOT NULL,
			[SOLES] [numeric](11, 2) NOT NULL,
			[PRODUCTO] [char](2) NOT NULL,
			[PRECIO] [numeric](6, 2) NOT NULL,
			[GALONES] [numeric](7, 3) NOT NULL,
			[CARA] [char](2) NOT NULL,
			[FECHA] [smalldatetime] NOT NULL,
			[HORA] [smalldatetime] NOT NULL,
			[TURNO] [char](10) NOT NULL,
			[ESTADO] [char](10) NULL,
			[DOCUMENTO] [char](10) NULL,
			[DATEPROCE] [smalldatetime] NULL,
			[CDTIPODOC] [char](5) NULL,
			[MANGUERA] [int] NULL,
			[FECSISTEMA] [datetime] NOT NULL,
		CONSTRAINT [PK_OP_TRAN_HIST] PRIMARY KEY NONCLUSTERED 
		(
			[CONTROLADOR] ASC,
			[NUMERO] ASC,
			[CARA] ASC,
			[PRODUCTO] ASC,
			[FECHA] ASC,
			[HORA] ASC,
			[FECSISTEMA] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
		) ON [PRIMARY]
END