USE [BACKOFFICE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITBCP_OBTENER_CIERRE_X]    Script Date: 10/06/2019 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ITBCP_OBTENER_CIERRE_X]
@CDLOCAL VARCHAR(5),@CDALMACEN VARCHAR(5),@FECPROCESO DATETIME,
@NROPOS VARCHAR(20),@TURNO int,@NROSERIMAQ VARCHAR(20),@CDUSUARIO VARCHAR(20),
@NROZETA INT,@MTOZETA NUMERIC(18,2),@CDVENDEDOR VARCHAR(20),@TIPO CHAR(2)
AS

--SET @NROSERIMAQ='FFCF288517'
--SET @CDALMACEN ='004'
--SET @CDLOCAL ='004'
--SET @FECPROCESO ='2019-01-19T00:00:00'
--SET @NROPOS = 'TIENDA2'
--SET @TURNO = 1
--SET @CDUSUARIO ='SIGES'
--SET @NROZETA = 492
--SET @MTOZETA= '7933259.30'
--SET @CDVENDEDOR ='JMONROY'
DECLARE @FACTURA      VARCHAR(5)='00001',
		@BOLETA       VARCHAR(5)='00003', 
		@SERAFIN      VARCHAR(5)='99998',
		@NOTADESPACHO VARCHAR(5)='99999'
/*DATOS DE CABECERA*/
IF @TIPO='CA'
BEGIN

DECLARE @FACINICIAL VARCHAR(12)
DECLARE @FACFINAL VARCHAR(12)
DECLARE @BOLINICIAL VARCHAR(12)
DECLARE @BOLFINAL VARCHAR(12)
DECLARE @CANTIDADOCANULADO INT
DECLARE @TOTALDOCANULADO NUMERIC(18,2)

	DECLARE @TVENTA TABLE(
	NROSERIEMAQ VARCHAR(20),
	FECSISTEMA VARCHAR(20),
	NROPOS VARCHAR(20),
	CDTIPODOC VARCHAR(5),
	NRODOCUMENTO VARCHAR(10),
	MTOSUBTOTAL NUMERIC(18,2),
	IGV NUMERIC(12,2),
	TOTAL NUMERIC(18,2),
	FECDOCUMENTO DATETIME,
	FECANULA DATETIME,
	TIPOCAMBIO NUMERIC(12,2),
	FLGCIERREZ BIT)

	INSERT INTO @TVENTA 
	SELECT 
	NROSERIEMAQ,FECSISTEMA,NROPOS,CDTIPODOC,NRODOCUMENTO,MTOSUBTOTAL,MTOIMPUESTO,MTOTOTAL,FECSISTEMA,FECANULA,TCAMBIO,FLGCIERREZ 
	FROM VENTA 
	WHERE NROPOS=@NROPOS AND 
		  TURNO=@TURNO AND 
		  FECPROCESO=@FECPROCESO AND
		  CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO)
	
	SELECT TOP 1 @FACINICIAL = 'F'+SUBSTRING(NRODOCUMENTO,1,3)+'-'+SUBSTRING(NRODOCUMENTO,4,10) FROM @TVENTA WHERE CDTIPODOC='00001' ORDER BY FECSISTEMA ASC
	SELECT TOP 1 @FACFINAL   = 'F'+SUBSTRING(NRODOCUMENTO,1,3)+'-'+SUBSTRING(NRODOCUMENTO,4,10) FROM @TVENTA WHERE CDTIPODOC='00001' ORDER BY FECSISTEMA DESC
	SELECT TOP 1 @BOLINICIAL = 'B'+SUBSTRING(NRODOCUMENTO,1,3)+'-'+SUBSTRING(NRODOCUMENTO,4,10) FROM @TVENTA WHERE CDTIPODOC='00003' ORDER BY FECSISTEMA ASC
	SELECT TOP 1 @BOLFINAL   = 'B'+SUBSTRING(NRODOCUMENTO,1,3)+'-'+SUBSTRING(NRODOCUMENTO,4,10) FROM @TVENTA WHERE CDTIPODOC='00003' ORDER BY FECSISTEMA DESC
	SELECT @TOTALDOCANULADO  = SUM(CONVERT(MONEY,TOTAL)), @CANTIDADOCANULADO = COUNT(NRODOCUMENTO) FROM @TVENTA WHERE FECANULA IS NOT NULL

	SELECT 
	@NROSERIMAQ AS NROSERIQMAQ,
	@NROPOS AS NROPOS,
	FORMAT(GETDATE(),'dd-MM-yyyy') AS FECHA,
	FORMAT(GETDATE(),'hh:mm:ss') AS HORA,
	@TURNO AS TURNO,
	@CDUSUARIO AS USUARIO, 
	COUNT(NRODOCUMENTO) AS TRANSACCIONES,
	CONVERT(VARCHAR, SUM(CONVERT(MONEY, MTOSUBTOTAL)), 1)  AS SUBTOTAL,
	CONVERT(VARCHAR, SUM(CONVERT(MONEY, IGV)), 1) AS IGV,
	CONVERT(VARCHAR, SUM(CONVERT(MONEY, TOTAL)), 1)  AS TOTAL,
	@NROZETA AS NROZETA,
	CONVERT(VARCHAR, CONVERT(MONEY, @MTOZETA), 1) AS MTOZETA,
	ISNULL(@FACINICIAL,'N/A') AS FACTURAINICIAL,
    ISNULL(@FACFINAL,'N/A') AS FACTURAFINAL,
	ISNULL(@BOLINICIAL,'N/A') AS BOLETAINICIAL,
	ISNULL(@BOLFINAL,'N/A') AS BOLETAFINAL,
	ISNULL(@CANTIDADOCANULADO,0) AS DOCUMENTOSANULADOS,
	CONVERT(VARCHAR, ISNULL(@TOTALDOCANULADO,0), 1) TOTALANULADOS,
	CONVERT(NUMERIC(12,3),AVG(TIPOCAMBIO)) AS TIPOCAMBIO
	FROM @TVENTA WHERE FECANULA IS NULL AND (FLGCIERREZ IS NULL OR FLGCIERREZ=0 )
	
END
/*VENTAS POR GRUPO01*/
IF @TIPO='G1'
BEGIN
	DECLARE @TVENTAG1 TABLE(
	CODIGO VARCHAR(20),
	GRUPO VARCHAR(20),
	TOTAL NUMERIC(18,2)
	)

	INSERT INTO @TVENTAG1 
	SELECT ARTICULO.CDGRUPO01,GRUPO01.DSGRUPO01,ISNULL(SUM(VENTAD.MTOTOTAL),0) FROM VENTAD
	INNER JOIN VENTA
	ON VENTA.CDTIPODOC=VENTAD.CDTIPODOC AND VENTA.CDLOCAL=VENTAD.CDLOCAL AND 
	   VENTA.NRODOCUMENTO = VENTAD.NRODOCUMENTO AND VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ
	INNER JOIN ARTICULO
	ON VENTAD.CDARTICULO = ARTICULO.CDARTICULO
	LEFT JOIN GRUPO01
	ON ARTICULO.CDGRUPO01=GRUPO01.CDGRUPO01
	WHERE VENTAD.NROPOS=@NROPOS AND 
		  VENTAD.TURNO=@TURNO AND 
		  VENTAD.FECPROCESO=@FECPROCESO AND
		  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND 
		  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)
	GROUP BY ARTICULO.CDGRUPO01,GRUPO01.DSGRUPO01
	
	SELECT CODIGO,GRUPO,TOTAL FROM @TVENTAG1  ORDER BY CODIGO ASC

END
/*VENTAS POR GRUPO02*/
IF @TIPO='G2'
BEGIN
	DECLARE @TVENTAG2 TABLE(
	CODIGO VARCHAR(20),
	GRUPO VARCHAR(20),
	TOTAL NUMERIC(18,2)
	)

	INSERT INTO @TVENTAG2 
	SELECT ARTICULO.CDGRUPO02,GRUPO02.DSGRUPO02,SUM(VENTAD.MTOTOTAL) FROM VENTAD
	INNER JOIN VENTA
	ON VENTA.CDTIPODOC=VENTAD.CDTIPODOC AND VENTA.CDLOCAL=VENTAD.CDLOCAL AND 
	   VENTA.NRODOCUMENTO = VENTAD.NRODOCUMENTO AND VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ
	INNER JOIN ARTICULO
	ON VENTAD.CDARTICULO = ARTICULO.CDARTICULO
	LEFT JOIN GRUPO02
	ON ARTICULO.CDGRUPO02=GRUPO02.CDGRUPO02
	WHERE VENTAD.NROPOS=@NROPOS AND 
		  VENTAD.TURNO=@TURNO AND 
		  VENTAD.FECPROCESO=@FECPROCESO AND
		  VENTAD.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
		  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)
	GROUP BY ARTICULO.CDGRUPO02,GRUPO02.DSGRUPO02	

	SELECT CASE WHEN CODIGO IS NULL OR CODIGO ='' THEN 'N/A' ELSE CODIGO END AS CODIGO,
		   CASE WHEN GRUPO IS NULL OR GRUPO ='' THEN 'SIN DEPARTAMENTO' ELSE GRUPO END AS GRUPO,
		   ISNULL(TOTAL,0) AS TOTAL
    FROM @TVENTAG2 
	
END
/*VENTAS POR GRUPO03*/
IF @TIPO='G3'
BEGIN
	DECLARE @TVENTAG3 TABLE(
	CODIGO VARCHAR(20),
	GRUPO VARCHAR(20),
	TOTAL NUMERIC(18,2)
	)

	INSERT INTO @TVENTAG3 
	SELECT ARTICULO.CDGRUPO03,GRUPO03.DSGRUPO03,SUM(VENTAD.MTOTOTAL) FROM VENTAD
	INNER JOIN VENTA
	ON VENTA.CDTIPODOC=VENTAD.CDTIPODOC AND VENTA.CDLOCAL=VENTAD.CDLOCAL AND 
	   VENTA.NRODOCUMENTO = VENTAD.NRODOCUMENTO AND VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ
	INNER JOIN ARTICULO
	ON VENTAD.CDARTICULO = ARTICULO.CDARTICULO
	LEFT JOIN GRUPO03
	ON ARTICULO.CDGRUPO03=GRUPO03.CDGRUPO03
	WHERE VENTAD.NROPOS=@NROPOS AND 
		  VENTAD.TURNO=@TURNO AND 
		  VENTAD.FECPROCESO=@FECPROCESO AND
		  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
		  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)
	GROUP BY ARTICULO.CDGRUPO03,GRUPO03.DSGRUPO03	

	SELECT CASE WHEN CODIGO IS NULL OR CODIGO ='' THEN 'N/A' ELSE CODIGO END AS CODIGO,
		   CASE WHEN GRUPO IS NULL OR GRUPO ='' THEN 'SIN GRUPO' ELSE GRUPO END AS GRUPO,
		   ISNULL(TOTAL,0) AS TOTAL
    FROM @TVENTAG3
	
END
/*VENTAS POR GRUPO04*/
IF @TIPO='G4'
BEGIN
	DECLARE @TVENTAG4 TABLE(
	CODIGO VARCHAR(20),
	GRUPO VARCHAR(20),
	TOTAL NUMERIC(18,2)
	)

	INSERT INTO @TVENTAG4 
	SELECT ARTICULO.CDGRUPO04,GRUPO04.DSGRUPO04,SUM(VENTAD.MTOTOTAL) FROM VENTAD
	INNER JOIN VENTA
	ON VENTA.CDTIPODOC=VENTAD.CDTIPODOC AND VENTA.CDLOCAL=VENTAD.CDLOCAL AND 
	   VENTA.NRODOCUMENTO = VENTAD.NRODOCUMENTO AND VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ
	INNER JOIN ARTICULO
	ON VENTAD.CDARTICULO = ARTICULO.CDARTICULO
	LEFT JOIN GRUPO04
	ON ARTICULO.CDGRUPO04=GRUPO04.CDGRUPO04
	WHERE VENTAD.NROPOS=@NROPOS AND 
		  VENTAD.TURNO=@TURNO AND 
		  VENTAD.FECPROCESO=@FECPROCESO AND
		  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
		  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)
	GROUP BY ARTICULO.CDGRUPO04,GRUPO04.DSGRUPO04	

	SELECT CASE WHEN CODIGO IS NULL OR CODIGO ='' THEN 'N/A' ELSE CODIGO END AS CODIGO,
		   CASE WHEN GRUPO IS NULL OR GRUPO ='' THEN 'SIN GRUPO' ELSE GRUPO END AS GRUPO,
		   ISNULL(TOTAL,0) AS TOTAL
    FROM @TVENTAG4
	
END
/*VENTAS POR GRUPO04*/
IF @TIPO='G5'
BEGIN
	DECLARE @TVENTAG5 TABLE(
	CODIGO VARCHAR(20),
	GRUPO VARCHAR(20),
	TOTAL NUMERIC(18,2)
	)

	INSERT INTO @TVENTAG5
	SELECT ARTICULO.CDGRUPO05,GRUPO05.DSGRUPO05,SUM(VENTAD.MTOTOTAL) FROM VENTAD
	INNER JOIN VENTA
	ON VENTA.CDTIPODOC=VENTAD.CDTIPODOC AND VENTA.CDLOCAL=VENTAD.CDLOCAL AND 
	   VENTA.NRODOCUMENTO = VENTAD.NRODOCUMENTO AND VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ
	INNER JOIN ARTICULO
	ON VENTAD.CDARTICULO = ARTICULO.CDARTICULO
	LEFT JOIN GRUPO05
	ON ARTICULO.CDGRUPO05=GRUPO05.CDGRUPO05
	WHERE VENTAD.NROPOS=@NROPOS AND 
		  VENTAD.TURNO=@TURNO AND 
		  VENTAD.FECPROCESO=@FECPROCESO AND
		  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
		  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)
	GROUP BY ARTICULO.CDGRUPO05,GRUPO05.DSGRUPO05	

	SELECT CASE WHEN CODIGO IS NULL OR CODIGO ='' THEN 'N/A' ELSE CODIGO END AS CODIGO,
		   CASE WHEN GRUPO IS NULL OR GRUPO ='' THEN 'SIN GRUPO' ELSE GRUPO END AS GRUPO,
		   ISNULL(TOTAL,0) AS TOTAL
    FROM @TVENTAG5
	
END
/*VENTAS POR PRODUCTO*/
IF @TIPO='VP' 
BEGIN
	DECLARE @TVENTAVP TABLE(
	CODIGO VARCHAR(50),
	NOMBRE NVARCHAR(MAX),
	CANTIDAD NUMERIC(18,7),
	DESCUENTO NUMERIC(18,2),
	TOTAL NUMERIC(18,7),
	TIPOVENTA CHAR(1),
	FECANULA SMALLDATETIME)
	
	INSERT INTO @TVENTAVP
	SELECT VENTAD.CDARTICULO,
		   VENTAD.GLOSA,
		   VENTAD.CANTIDAD,
		   VENTAD.MTODSCTO, 
		   VENTAD.MTOTOTAL , 
		   VENTA.TIPOVENTA, 
		   VENTA.FECANULA 
	FROM VENTA 
	INNER JOIN VENTAD
	ON    VENTA.CDTIPODOC=VENTAD.CDTIPODOC AND 
		  VENTAD.NRODOCUMENTO = VENTA.NRODOCUMENTO AND 
		  VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ AND
		  VENTA.CDLOCAL = VENTAD.CDLOCAL
    WHERE VENTA.NROPOS=@NROPOS AND 
		  VENTA.TURNO=@TURNO AND 
		  VENTA.FECPROCESO=@FECPROCESO AND
		  VENTA.FECANULA IS NULL AND
		  VENTA.CDUSUANULA IS NULL AND
		  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
		  VENTA.FECANULASIS IS NULL AND
		  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)


	SELECT PRI.CODIGO,
		   PRI.NOMBRE,
		   SUM(CONVERT(NUMERIC(18,2), PRI.CANTIDAD)) AS CANTIDAD, 
		   SUM(CONVERT(NUMERIC(18,2), PRI.DESCUENTO)) AS DESCUENTO,
		   SUM(CONVERT(NUMERIC(18,2), PRI.TOTAL))AS TOTAL ,
		   (SELECT CONVERT(NUMERIC(18,3),ISNULL(SUM(AUX.TOTAL),0)) FROM @TVENTAVP AUX WHERE PRI.CODIGO = AUX.CODIGO AND AUX.TIPOVENTA='T') AS GRATUITO
	FROM @TVENTAVP PRI
	GROUP BY PRI.CODIGO,PRI.NOMBRE
	ORDER BY PRI.NOMBRE ASC

END
/*VENTAS POR CARA*/
IF @TIPO = 'VC' 
BEGIN 

	DECLARE @TVENTAVC TABLE(
	CODIGO VARCHAR(50),
	NOMBRE NVARCHAR(MAX),
	CARA VARCHAR(5),
	CANTIDAD NUMERIC(18,7),
	DESCUENTO NUMERIC(18,2),
	TOTAL NUMERIC(18,2),
	TIPOVENTA CHAR(10),
	FECANULA SMALLDATETIME)

	INSERT INTO @TVENTAVC
	SELECT VENTAD.CDARTICULO,VENTAD.GLOSA,VENTAD.CARA,VENTAD.CANTIDAD,VENTAD.MTODSCTO, VENTAD.MTOTOTAL , VENTA.TIPOVENTA, VENTA.FECANULA 
	FROM VENTA 
	INNER JOIN VENTAD
	ON    VENTA.CDTIPODOC=VENTAD.CDTIPODOC AND 
		  VENTAD.NRODOCUMENTO = VENTA.NRODOCUMENTO AND 
		  VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ AND
		  VENTA.CDLOCAL = VENTAD.CDLOCAL
    WHERE VENTA.NROPOS=@NROPOS AND 
		  VENTA.TURNO=@TURNO AND 
		  VENTA.FECPROCESO=@FECPROCESO AND
		  VENTA.FECANULA IS  NULL AND
		  VENTA.CDUSUANULA IS NULL AND
		  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
		  VENTA.FECANULASIS IS NULL AND 
		  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)

	SELECT CASE WHEN CARA IS NULL OR CARA = '' THEN 'N/A' ELSE CARA END AS CARA,
		   SUM(DESCUENTO) AS DESCUENTOS, 
		   (SELECT CONVERT(NUMERIC(18,3),ISNULL(SUM(AUX.TOTAL),0)) FROM @TVENTAVC AUX WHERE PRI.CARA = AUX.CARA AND AUX.TIPOVENTA='T') AS GRATUITO,
		   SUM(CONVERT (NUMERIC(18,2),TOTAL)) AS TOTAL 
		   FROM @TVENTAVC PRI  GROUP BY CARA
END
/*VENTAS POR VENDEDOR*/
IF @TIPO = 'VV'
	BEGIN
		DECLARE @TVENTAVV TABLE(
		USUARIO VARCHAR(50),
		NOMBRE NVARCHAR(MAX),
		DESCUENTO NUMERIC(18,2),
		TOTAL NUMERIC(18,2),
		REDONDEO NUMERIC(18,2),
		TIPOVENTA CHAR(10),
		FECANULA SMALLDATETIME)

		INSERT INTO @TVENTAVV
		SELECT VENTA.CDVENDEDOR,TAB0S05.CDVENDEDOR,VENTA.MTODSCTO,VENTA.MTOTOTAL,VENTA.REDONDEA_INDECOPI, VENTA.TIPOVENTA, VENTA.FECANULA
		FROM VENTA 
		LEFT JOIN BACKOFFICESETUP..TAB0S05
		ON    VENTA.CDVENDEDOR = TAB0S05.CDVENDEDOR
		WHERE VENTA.NROPOS=@NROPOS AND 
			  VENTA.TURNO=@TURNO AND 
			  VENTA.FECPROCESO=@FECPROCESO AND
			  VENTA.FECANULA IS  NULL AND
			  VENTA.CDUSUANULA IS NULL AND
			  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
			  VENTA.FECANULASIS IS  NULL AND
			  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)

	    SELECT CASE WHEN NOMBRE IS NULL OR NOMBRE = '' THEN 'SIN VENDEDOR' ELSE NOMBRE END AS NOMBRE,
		SUM(TOTAL) AS TOTAL,
		SUM(DESCUENTO) AS DESCUENTOS,
		(SELECT CONVERT(NUMERIC(18,3),ISNULL(SUM(AUX.TOTAL),0)) FROM @TVENTAVV AUX WHERE PRI.USUARIO = AUX.USUARIO AND AUX.TIPOVENTA='T') AS GRATUITO,
		SUM(REDONDEO) AS REDONDEO
		FROM @TVENTAVV PRI 
		GROUP BY USUARIO,NOMBRE

END
/*VENTAS POR USUARIO*/
IF @TIPO = 'VU'
	BEGIN
		DECLARE @TVENTAVU TABLE(
		USUARIO VARCHAR(50),
		NOMBRE NVARCHAR(MAX),
		DESCUENTO NUMERIC(18,2),
		TOTAL NUMERIC(18,2),
		REDONDEO NUMERIC(18,2),
		TIPOVENTA CHAR(10),
		FECANULA SMALLDATETIME)

		INSERT INTO @TVENTAVU
		SELECT VENTA.CDUSUARIO,TAB0S02.DSUSUARIO,VENTA.MTODSCTO,VENTA.MTOTOTAL,VENTA.REDONDEA_INDECOPI, VENTA.TIPOVENTA, VENTA.FECANULA
		FROM VENTA 
		LEFT JOIN BACKOFFICESETUP..TAB0S02
		ON    VENTA.CDUSUARIO = TAB0S02.CDUSUARIO
		WHERE VENTA.NROPOS=@NROPOS AND 
			  VENTA.TURNO=@TURNO AND 
			  VENTA.FECPROCESO=@FECPROCESO AND
			  VENTA.FECANULA IS  NULL AND
			  VENTA.CDUSUANULA IS NULL AND
			  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
			  VENTA.FECANULASIS IS  NULL AND
			  (VENTA.FLGCIERREZ = 0 OR VENTA.FLGCIERREZ IS NULL)

	    SELECT NOMBRE,
		SUM(TOTAL) AS TOTAL,
		SUM(DESCUENTO) AS DESCUENTOS,
		(SELECT CONVERT(NUMERIC(18,3),ISNULL(SUM(AUX.TOTAL),0)) FROM @TVENTAVU AUX WHERE PRI.USUARIO = AUX.USUARIO AND AUX.TIPOVENTA='T') AS GRATUITO,
		SUM(REDONDEO) AS REDONDEO
		FROM @TVENTAVU PRI 
		GROUP BY USUARIO,NOMBRE

END
/*DETALLES DE DOCUMENTOS EMITIDOS CON RUC O SIN RUC*/
IF @TIPO = 'VD'
	BEGIN
		DECLARE @TVENTAVD TABLE(
		DOCUMENTO VARCHAR(10),
		TIPO VARCHAR(5),
		NOMBRE NVARCHAR(MAX),
		TOTAL NUMERIC(18,2)
		)

		INSERT INTO @TVENTAVD
		SELECT VENTA.NRODOCUMENTO,VENTA.CDTIPODOC,VENTA.RSCLIENTE,VENTA.MTOTOTAL
		FROM VENTA 
		WHERE VENTA.NROPOS=@NROPOS AND 
			  VENTA.TURNO=@TURNO AND 
			  VENTA.FECPROCESO=@FECPROCESO AND
			   VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
			  FECANULA IS NULL AND 
			  FECANULASIS IS NULL AND
			  CDUSUANULA IS NULL AND
			  (FLGCIERREZ IS NULL OR FLGCIERREZ=0 )

	    SELECT 
		(SELECT ISNULL(COUNT(DOCUMENTO),0) FROM @TVENTAVD WHERE TIPO='00001') AS FACTURAS,
		(SELECT ISNULL(COUNT(DOCUMENTO),0) FROM @TVENTAVD WHERE TIPO='99999') AS NOTADESPACHO,
		(SELECT ISNULL(SUM(CONVERT(NUMERIC(18,2),TOTAL)),0) FROM @TVENTAVD WHERE TIPO='00001') AS TOTALFACTURAS,
		(SELECT ISNULL(SUM(CONVERT(NUMERIC(18,2),TOTAL)),0) FROM @TVENTAVD WHERE TIPO='99999' AND LEN(NOMBRE)>1) AS TOTALNOTADESPACHO,
		(SELECT ISNULL(COUNT(DOCUMENTO),0) FROM @TVENTAVD WHERE TIPO='00003') AS BOLETAS,
		(SELECT ISNULL(SUM(CONVERT(NUMERIC(18,2),TOTAL)),0)  FROM @TVENTAVD WHERE TIPO='00003') AS TOTALBOLETAS

END
/*VENTAS POR TIPO DE PAGO*/
IF @TIPO = 'TP'
	BEGIN
		DECLARE @EFECTIVO   NUMERIC(18,2),
				@TARJETA    NUMERIC(18,2),
				@CHEQUE     NUMERIC(18,2),
				@CREDITO    NUMERIC(18,2),
				@GRATUITO   NUMERIC(18,2),
				@VIATICO    NUMERIC(18,2),
				@DSERAFIN    NUMERIC(18,2)

		DECLARE @TVENTATP TABLE(
		TIPOCLIENTE VARCHAR(1),
		TIPOPAGO VARCHAR(5),
		NOMBREPAGO VARCHAR(50),
		TIPODOCUMENTO VARCHAR(5),
		DOCUMENTO VARCHAR(10),
		MONTOPAGOSOL NUMERIC(18,2),
		MONTOPAGODOL NUMERIC(18,2),
		TOTAL NUMERIC(18,2),
		VUELTOSOL NUMERIC(18,2),
		VUELTODOL NUMERIC(18,2),
		CAMBIO NUMERIC(18,2),
		TIPOVENTA CHAR(2)
		)
		
		INSERT INTO @TVENTATP
		SELECT  ISNULL(CLIENTE.TIPOCLI,''),
				VENTAP.CDTPPAGO,
				TIPOPAGO.DSTPPAGO,
				VENTA.CDTIPODOC,
				VENTA.NRODOCUMENTO,
				VENTAP.MTOPAGOSOL,
				VENTAP.MTOPAGODOL,
				VENTA.MTOTOTAL,
				VENTA.MTOVUELTOSOL,
				VENTA.MTOVUELTODOL,
				VENTA.TCAMBIO,
				VENTA.TIPOVENTA
				FROM VENTAP
		INNER JOIN VENTA
		ON    VENTAP.CDTIPODOC=VENTA.CDTIPODOC AND 
			  VENTAP.NRODOCUMENTO = VENTA.NRODOCUMENTO AND
			  VENTAP.CDLOCAL = VENTA.CDLOCAL
		INNER JOIN TIPOPAGO
		ON VENTAP.CDTPPAGO = TIPOPAGO.CDTPPAGO
		LEFT JOIN CLIENTE
		ON VENTA.CDCLIENTE=CLIENTE.CDCLIENTE
		WHERE VENTA.NROPOS=@NROPOS AND 
			  VENTA.TURNO=@TURNO AND 
			  VENTA.FECPROCESO=@FECPROCESO AND
			  VENTA.FECANULA IS NULL AND
			  VENTA.CDUSUANULA IS NULL AND
			  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO,@SERAFIN) AND
			  VENTA.FECANULASIS IS NULL AND 
			  (VENTA.FLGCIERREZ IS NULL OR VENTA.FLGCIERREZ=0 )

			  SELECT  @EFECTIVO = (SUM(MONTOPAGOSOL)) + (SUM(MONTOPAGODOL * CAMBIO)) - (SUM(VUELTOSOL))  FROM  @TVENTATP WHERE (TIPOPAGO='00001' OR TIPOCLIENTE IN ('C')) AND TIPODOCUMENTO<>@SERAFIN AND TIPOVENTA<>'T'
			  SELECT  @TARJETA  = (SUM(MONTOPAGOSOL)) + (SUM(MONTOPAGODOL * CAMBIO)) FROM  @TVENTATP WHERE TIPOPAGO='00002' AND TIPODOCUMENTO<>@SERAFIN AND TIPOVENTA<>'T'
			  SELECT  @CHEQUE   = (SUM(MONTOPAGOSOL)) + (SUM(MONTOPAGODOL * CAMBIO))  FROM  @TVENTATP WHERE TIPOPAGO='00003' AND TIPODOCUMENTO<>@SERAFIN AND TIPOVENTA<>'T'
			  SELECT  @CREDITO  = (SUM(MONTOPAGOSOL)) + (SUM(MONTOPAGODOL * CAMBIO)) FROM  @TVENTATP WHERE TIPOPAGO='00004' AND TIPODOCUMENTO<>@SERAFIN AND TIPOVENTA<>'T' AND TIPOCLIENTE<>'C'
			  SELECT  @GRATUITO =  SUM(TOTAL) FROM  @TVENTATP WHERE TIPOVENTA='T' AND TIPODOCUMENTO<>@SERAFIN
			  SELECT  @DSERAFIN  =  SUM(TOTAL) FROM  @TVENTATP WHERE TIPODOCUMENTO='99998'
			  SELECT ISNULL(@EFECTIVO,0) AS EFECTIVO,
					 ISNULL(@TARJETA,0)  AS TARJETA,
					 ISNULL(@CHEQUE,0)   AS CHEQUE,
					 ISNULL(@CREDITO,0)  AS CREDITO,
					 ISNULL(@GRATUITO,0) AS GRATUITO,
					 ISNULL(@VIATICO,0)  AS VIATICO,
					 ISNULL(@DSERAFIN,0)  AS SERAFIN,
					 ISNULL(@EFECTIVO,0) + ISNULL(@TARJETA,0) +
					 ISNULL(@CHEQUE,0)   + ISNULL(@CREDITO,0) AS TOTALNETO,
					 ISNULL(@EFECTIVO,0) + ISNULL(@TARJETA,0) +
					 ISNULL(@CHEQUE,0)   + ISNULL(@CREDITO,0) + 
					 ISNULL(@GRATUITO,0) + ISNULL(@VIATICO,0) + 
					 ISNULL(@DSERAFIN,0) AS TOTAL
END
/* TOTAL CANJES */
IF @TIPO = 'TC'
	BEGIN
		SELECT  CONVERT(NUMERIC(18,2),ISNULL(SUM(VALORACUMULA),0)) TOTALCANJES FROM VENTA
		WHERE VENTA.NROPOS=@NROPOS AND 
			  VENTA.TURNO=@TURNO AND 
			  VENTA.FECPROCESO=@FECPROCESO AND
			  VENTA.FECANULA IS NULL AND
			  VENTA.CDUSUANULA IS NULL AND
			  VENTA.CDTIPODOC IN (@BOLETA,@FACTURA) AND
			  VENTA.FECANULASIS IS NULL AND 
			 (VENTA.FLGCIERREZ IS NULL OR VENTA.FLGCIERREZ=0 )

END
/*DEPOSITOS DEL VENDEDOR*/
IF @TIPO ='DV'
BEGIN 
	DECLARE @SQL NVARCHAR(MAX),@FECHATABLA VARCHAR(6)

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].DIADEPVEND'+CONVERT(VARCHAR(6),FORMAT(@FECPROCESO,'yyyyMM'))+' '))
BEGIN 
	DECLARE @NOMBRETABLA VARCHAR(20)
	SELECT @NOMBRETABLA= 'DIADEPVEND'+FORMAT(@FECPROCESO,'yyyyMM')+' '
	EXEC SP_ITBCP_CREAR_TABLA_DIADEPVENDEDOR @NOMBRETABLA
END

	SET @SQL='SELECT ISNULL(TAB0S05.DSVENDEDOR,''N/A'') AS VENDEDOR,SUM(MTOSOLES) AS SOLES, SUM(MTODOLAR) AS DOLARES, SUM(ISNULL(NROSOBRES,0)) AS SOBRES 
				  FROM DIADEPVEND'+CONVERT(VARCHAR(6),FORMAT(@FECPROCESO,'yyyyMM'))+'
				  LEFT JOIN BACKOFFICESETUP..TAB0S05
				  ON TAB0S05.CDVENDEDOR = DIADEPVEND'+CONVERT(VARCHAR(6),FORMAT(@FECPROCESO,'yyyyMM'))+'.CDVENDEDOR
				  WHERE 
				  DIADEPVEND'+CONVERT(VARCHAR(6),FORMAT(@FECPROCESO,'yyyyMM'))+'.CDVENDEDOR='''+@CDVENDEDOR+''' AND
				  TURNO = '''+CONVERT(VARCHAR(1),@TURNO)+''' AND
				  FECPROCESO = '''+FORMAT(@FECPROCESO,'yyyyMMdd')+''' 
				  GROUP BY TAB0S05.DSVENDEDOR'

	EXECUTE SP_EXECUTESQL @SQL
	
END
/*DESCUENTOS E INGREMENTOS*/
IF @TIPO ='DI'
BEGIN
	DECLARE @TVENTADI TABLE(
	TIPO VARCHAR(5),
	DOCUMENTO VARCHAR(10),
	DESCUENTO NUMERIC(18,2),
	TOTAL NUMERIC(18,2)
	)
		INSERT INTO  @TVENTADI
		SELECT VENTAD.CDTIPODOC,VENTAD.NRODOCUMENTO,VENTAD.MTODSCTO,VENTAD.MTOTOTAL FROM VENTAD
		INNER JOIN VENTA
		ON VENTA.CDTIPODOC = VENTAD.CDTIPODOC AND VENTA.NRODOCUMENTO =VENTAD.NRODOCUMENTO AND 
		   VENTA.CDLOCAL=VENTAD.CDLOCAL AND VENTA.NROSERIEMAQ = VENTAD.NROSERIEMAQ
		WHERE VENTAD.NROPOS=@NROPOS AND 
			  VENTAD.TURNO=@TURNO AND 
			  VENTAD.FECPROCESO=@FECPROCESO AND
			  VENTA.FECANULA IS NULL AND
			  VENTA.CDUSUANULA IS NULL AND
			  VENTAD.CDTIPODOC IN (@BOLETA,@FACTURA,@NOTADESPACHO) AND
			  VENTA.FECANULASIS IS NULL AND 
			 (VENTAD.FLGCIERREZ IS NULL OR VENTAD.FLGCIERREZ=0 )

	SELECT  (SELECT ISNULL(SUM(DESCUENTO*-1),0) FROM @TVENTADI WHERE DESCUENTO<0) AS INCREMENTO,
			(SELECT ISNULL(SUM(DESCUENTO),0) FROM @TVENTADI WHERE DESCUENTO>0) AS DESCUENTO,
			(SELECT ISNULL(SUM(TOTAL),0)+ ISNULL(SUM(CASE WHEN DESCUENTO<0 THEN 0 ELSE DESCUENTO END),0) FROM @TVENTADI) AS SINDESCUENTO,
			(SELECT ISNULL(SUM(TOTAL),0) FROM @TVENTADI) AS TOTAL


END
/*STOCK NEGATIVOS*/
IF @TIPO ='SN'
BEGIN
	DECLARE @TVENTASN TABLE(
	CODIGO VARCHAR(20),
	NOMBRE NVARCHAR(MAX),
	STOCK NUMERIC(18,2)
	)
		INSERT INTO  @TVENTASN
		SELECT ARTICULO.CDARTICULO,ARTICULO.DSARTICULO,ISNULL(STOCK.STOCKACTUAL,0) FROM ARTICULO
		LEFT JOIN STOCK 
		ON STOCK.CDARTICULO=ARTICULO.CDARTICULO
		WHERE ARTICULO.MOVERSTOCK=1 AND STOCK.STOCKACTUAL<0 AND ARTICULO.CDGRUPO01 NOT IN('00999')

	SELECT  CODIGO,NOMBRE,STOCK FROM @TVENTASN

END