USE [BACKOFFICE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITBCP_OBTENER_CAMBIO_TURNO_SIN_CONTROLADOR]    Script Date: 10/06/2019 15:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ITBCP_OBTENER_CAMBIO_TURNO_SIN_CONTROLADOR]
AS

BEGIN TRANSACTION PROCESO_CAMBIO_TURNO
	BEGIN
		UPDATE TERMINAL SET TURNO = TURNO + 1
	END


	IF @@ERROR <> 0 
		BEGIN
			ROLLBACK TRANSACTION PROCESO_CAMBIO_TURNO
			SELECT 'FAIL' AS OK

		END
	ELSE
		BEGIN
			COMMIT TRANSACTION PROCESO_CAMBIO_TURNO
			SELECT 'OK' AS OK
		END