USE [BACKOFFICE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITBCP_BUSCAR_TERMINAL_POR_NROPOS]    Script Date: 21/06/2019 15:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
ALTER PROCEDURE [dbo].[SP_ITBCP_BUSCAR_TERMINAL_POR_NROPOS]
	@NROPOS CHAR(10)
AS
	SELECT * FROM TERMINAL where NROPOS = LTRIM(RTRIM(@NROPOS))
