USE [BACKOFFICE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITBCP_OBTENER_INICIO_DIA]    Script Date: 21/06/2019 15:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ITBCP_OBTENER_INICIO_DIA]
@SERIEHD VARCHAR(20),@CDUSUARIO VARCHAR(50)
AS
DECLARE @TIPOCONTROL VARCHAR(20)

SELECT @TIPOCONTROL = TIPOCONTROL FROM PARAMETRO

BEGIN TRANSACTION PROCESO_INICIO_DIA
	IF @TIPOCONTROL IN ('VOX','PAM')
	BEGIN 
		EXEC SP_ITBCP_OBTENER_CIERRE_UPDATE @TIPO='D'
	END

	UPDATE TERMINAL SET FECPROCESO = FORMAT(GETDATE(),'yyyyMMdd'), TURNO = 1 , FLGAPERTURACAJA = 0 , FLGCIERREZOK = 0
	
	INSERT INTO CIERRES_TURNO_DIA (FECPROCESO, TURNO, FECSISTEMA, NROPOS, CDUSUARIO, SERIEHD, OBSERVACION)
	SELECT TOP(1) CONVERT(DATE,GETDATE()), 1, CONVERT(SMALLDATETIME,GETDATE()), NROPOS, @CDUSUARIO, @SERIEHD, 'INICIO DIA' 
	FROM TERMINAL 
	WHERE SERIEHD=@SERIEHD

	DELETE FROM VENTA  WHERE FLGCIERREZ = 1
	DELETE FROM VENTAD WHERE FLGCIERREZ = 1
	DELETE FROM VENTAP WHERE FLGCIERREZ = 1
	        

IF @@ERROR <> 0 
	BEGIN
		ROLLBACK TRANSACTION PROCESO_CAMBIO_TURNO
		SELECT 'FAIL' AS OK
	END
ELSE
	BEGIN
		COMMIT TRANSACTION PROCESO_CAMBIO_TURNO
		SELECT 'OK' AS OK
	END